html, body {
  overflow: hidden;
}

.container {
  display: flex;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-gap: 10px; */
  /* grid-row-gap: 10px; */
  /* max-width: 600px; Adjust the value to change the maximum width of the grid */
  /* margin-right: 40px; Adjust the value to change the space between the grid and the large image */
  margin-top: 22vh;
  margin-left:13vw ;

}

.grid-item {
  width: 100%;
  height: auto;
  max-width: 35px;
  margin-bottom: 12px;
  margin-right: 12px;
}

#image-display {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.display-image {
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  /* border: 2px solid black; */
}

body{
  background-color: black;
}

p{
  position: absolute;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
  text-transform: uppercase;
  margin-left: 10px;
}

